
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

$font-family-roboto: "Roboto Condensed", sans-serif;
$font-family-montserrat: "Montserrat", sans-serif;

$white: #fff;
$red: #FA2A2A;
$grey: #CCC5C5;
$dark_grey: #212121;
$light_grey: #4E4E4E;
$grey_content: #CCC5C5;
$grey_feature: #929AAD;
$dark_green: #011F05;